page-relax-space {

	#relaxSpace-button9 {
	  background-color: rgba(255,255,255,0.2);
	  color: #464646;
	  font-size: 25px;

	}
	#relaxSpace-button10 {
	  background-color: rgba(255,255,255,0.2);
	  color: #464646;
	  font-size: 25px;

	}
	#relaxSpace-button11 {
	  background-color: rgba(255,255,255,0.2);
	  color: #464646;
	  font-size: 25px;

	}
	#relaxSpace-button12 {
	  background-color: rgba(255,255,255,0.2);
	  color: #464646;
	  font-size: 25px;
	  
	}
}
