page-listen {

#listen-textarea5 {
	font-size: 25px;
background-color: rgba(255,255,255,0.2);
}
#listen-textarea6 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea7 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea8 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea9 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea10 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea11 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea12 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea13 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
#listen-textarea50 {
	font-size: 25px;
	background-color: rgba(255,255,255,0.2);
}
}
