*{
font-family: Fredorka One;
text-transform: lowercase;
font-size: 25px;
color: #464646;
white-space: normal !important;
}

ion-navbar { 
	padding-top: 50px;
}

ion-content {
	background: url('../assets/img/dawn_background.gif');
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
}

@font-face {
  font-family: Fredorka One;
  src: url('../assets/fonts/Fredorka One');
}

.action-button {
    background-color: rgba(255,255,255,0.2) !important;
    color: #464646;
    font-size: 25px;
	border-radius:16px;
	&.item-block {
		border: none !important;
			.item-inner {
				border: none !important;
	}
}
	&:not(:last-child){
		margin-bottom: 15px;
	}
}