// Avenir and fall back font Helvetica
*{
font-family: "Avenir", "Helvetica";
font-size: 25px !important;
color: white !important;
white-space: normal !important;
}

ion-navbar {
	padding: 0px !important;
}

.toolbar-background {
  background-color: rgba(0,0,0,0.15);
}

ion-content {
	background: url('../assets/img/dawn_background.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.action-button {
  background-color: rgba(104,104,104,0.3) !important;
	border-radius:16px;
	min-height: 90px;
	width: 100%;
  transition: border 0.3s ease-in-out;
  border: 2px solid transparent !important;
  &:active, &:hover {
    border: 2px solid rgb(255, 168, 37) !important;
  }
	.block-item {
		:not(:last-child)
		{
			margin-bottom: 10px;
			padding: 10px;
		}
	}

	&:not(:last-child){
		margin-bottom: 15px;
	}
}

.paragraph {
    font-size: 30px !important;
    color: white !important;
    background-color: rgba(104,104,104,0.3) !important;
    border-radius: 16px;
    margin-bottom:20px;
    .li {
      list-style-type: circle;
      displays: inline;
    }
  }

a {
  color: rgb(255, 168, 37) !important;
}

ion-card {
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 16px !important;
}

ion-card-header {
  font-weight: bold !important;
}


ion-card-title {
  padding-left: 15px !important;
  padding-top: 15px !important;
  padding-right: 15px !important;

}

.alert-wrapper {
  background-color: rgba(72, 72, 72, 0.95) !important;
}

.slidebar {
  font-size: 10px !important;
}

.item-block .item-inner {
  border-bottom: none !important;
}

ion-icon {
  min-height: auto !important;
}

.item-block {
  border: none !important;
}

