// Avenir and fall back font Helvetica
*{
font-family: "Avenir", "Helvetica";
font-size: 25px !important;
color: white !important;
white-space: normal !important;
}

ion-navbar {
	padding: 0px !important;
}

.toolbar-background {
  background-color: rgba(0,0,0,0.15);
}

ion-content {
	background: url('../assets/img/dawn_background.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.service-title {
	background-color: rgba(0,0,0,0.15) !important;
	color: none;
}

.service-information {
	background-color: rgba(0,0,0,0.15) !important;
	color: none;
}

.video-title {
	background-color: rgba(0,0,0,0.15) !important;
}

.action-button {
  background-color: rgba(0,0,0,0.15) !important;
	border-radius:16px;
	min-height: 90px;
	width: 100%;
	.block-item {
		:not(:last-child)
		{
			margin-bottom: 10px;
			padding: 10px;
		}
	}
	&.item-block {
		border: none !important;
			.item-inner {
				border: none !important;
	}
}
	&:not(:last-child){
		margin-bottom: 15px;
	}
}

.paragraph {
    font-size: 30px !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 16px;
    margin-bottom:20px;
    display:list-item;
    .li {
      list-style-type: circle;
      displays: inline;
    }
  }

a {
  color: rgb(255, 168, 37) !important;
}

ion-card {
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 16px !important;
}

ion-card-header {
  font-weight: bold !important;
}


ion-card-title {
  padding-left: 15px !important;
  padding-top: 15px !important;
  padding-right: 15px !important;

}

//revisit to change alert button and make consistent
.alert-head {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.alert-message {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.alert-button {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.slidebar {
  font-size: 10px !important;
}
