page-inspirational-videos {

white-space: wrap !important;

#page29 {
	background:url(assets/img/raEceC6SLm58JDwFvGbE_dawn.gif) no-repeat center;
	background-size:cover;
}

#inspirationalVideos-list-item20 {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: rgba(0,0,0,0);
  font-color: "#FDFDFD";
  font-size: 20px;
	}

}
