page-self-help {

#selfHelp-button1 {
  background-color: rgba(255,255,255,0.2);
  color: #464646;
  font-size: 25px;
  
}

#selfHelp-button2 {
  background-color: rgba(255,255,255,0.2);
  color: #464646;
  font-size: 25px;
  
}

#selfHelp-button3 {
  background-color: rgba(255,255,255,0.2);
  color: #464646;
  font-size: 25px;
  
}

#selfHelp-button4 {
  background-color: rgba(255,255,255,0.2);
  color: #464646;
  font-size: 25px;
  
}

}