page-mood-menu {


  #moodbutton1 {
    background-color: purple;
    height: 90px;
    width: 80px;
    margin-left: 15px;
    border-radius: 10px;
  }


  #moodbutton2 {
  background-color: orange;
  height: 90px;
  width: 80px;
  margin-left: 15px;
  border-radius: 10px;
  }


  #moodbutton3 {
  background-color: #FFFF00;
  height: 90px;
  width: 80px;
  margin-left: 15px;
  border-radius: 10px;
  }

  #goodlabel {
  color: #666600;
  }
}
