page-find-aservice {


  .paragraph {
    font-size: 30px !important;
    color: white !important;
    background-color: rgba(104,104,104,0.3) !important;
    border-radius: 16px;
    margin-bottom:20px;
    .li {
      list-style-type: circle;
      displays: inline;
    }
  }

  //ion-searchbar {
  //  color: black !important;
  //}
  //search {
  //  color: black !important;
  //}
  //.ion-searchbar-input {
  //  color: black !important;
  //}
  //.searchbar-input {
  //  color: black !important;
  //}
  //.searchbar-md {
  //  color: black !important;
  //}
  //.searchbar-input-container {
  //  color: black !important;
  //}
}
