page-mindfulness {
  .clear {
    clear: both;
  }

  .slide-item-1 {
    padding-top: 10px;
  }
  .slide-toggle {
    display: none;
    &:checked + label * {
      color: rgb(255, 168, 37) !important;
    }
  }

  .slidemenu label {
    width: 100%;
    text-align: center;
    display: block;
    float: left;
  }

  .slidemenu label:hover {
    cursor: pointer;
    color: #666;
  }

  .slidemenu label span {
    display: block;
    padding: 10px;
    font-size: 14px;
  }

  .slidemenu label .icon {
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
  }

  .slider {
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }

  .slider .bar {
    width: 25%;
    height: 5px;
    background: #333;
    border-radius: 5px;
  }

  .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }

  .slidemenu .slide-toggle:checked + label {
    opacity: 1;
  }
  .ion-icon {
    padding-top: 30px;
  }

  .paragraph {
    img {
      height: 60px;
    }
  }
}
