page-menu {

p {
  font-size: 30px;
  margin-top: 10px;
}

#menu-button13 {
  background-color: rgba(255,255,255,0.2);
  font-size: 25px;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;

}
#menu-button14 {
  background-color: rgba(255,255,255,0.2);
  font-size: 25px;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  white-space: normal;

}
#menu-button15 {
  background-color: rgba(255,255,255,0.2);
  font-size: 25px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  white-space: normal;

}
#menu-button16 {
  background-color: rgba(255,255,255,0.2);
  font-size: 25px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  white-space: normal;

}

}
